@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-placeholder {
  width: 100vw;
  height: 5rem;
}

.svg-wrapper {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 20rem;
}

.svg {
  width: 100%;
}

.svg path {
  fill: black;
}

.one,
.two,
.three {
  width: 100vw;
  height: 30rem;
}

.four {
  width: 100vw;
  height: 60rem;
}

.one {
  background-color: palegreen;
}

.two {
  background-color: rgb(177, 188, 248);
}

.three {
  background-color: rgb(253, 184, 224);
}

.four {
  background-color: white;
}
