* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: black;
  transition: background-color 1s;
}

.colorShift {
  background-color: white;
  transition: background-color 1s;
}

.box {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: rgb(32, 221, 255);
  top: 50%;
  left: 50%;
  border-radius: 0%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.moveUp {
  width: 200vh;
  height: 200vh;
  border-radius: 50%;
  transition: all 1s;
}
