* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 16rem;
  height: 8rem;
  background: #eee;
  /* overflow-y: hidden; */
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

#box-a {
  background: #d19;
}

#box-b {
  background: #44d3ff;
}

#box-c {
  background: #80ff80;
}

#box-d {
  background: #ff9900;
}

.box {
  display: inline-block;
  margin-right: -0.25rem;
  width: 8rem;
  height: 8rem;
}

.box-container {
  display: inline-block;
}
