* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 8rem;
  background: lightblue;
  display: flex;
  align-items: center;
  position: relative;
  width: 50vw;
  padding: 0 6rem;
}

.arrow-left,
.arrow-right {
  font-size: 3rem;
  border: 1px solid black;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.dropdown-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  justify-self: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}

.select-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

/* .select-container:nth-child(1) {
  left: -300%;
}

.select-container:nth-child(2) {
  left: -200%;
}

.select-container:nth-child(3) {
  left: -100%;
}

.select-container:nth-child(4) {
  left: 0;
}

.select-container:nth-child(5) {
  left: 100%;
}

.select-container:nth-child(6) {
  left: 200%;
}

.select-container:nth-child(7) {
  left: 300%;
}

.select-container:nth-child(8) {
  left: 400%;
}

.select-container:nth-child(9) {
  left: 500%;
} */
