* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: black;
  transition: all 0.5s;
}

.colorShift {
  background-color: white;
  transition: all 0.5s;
}

.box {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: blue;
  top: 50%;
  left: 50%;
  border-radius: 0%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.moveUp {
  transform: translate(-50%, -300%);
  border-radius: 50%;
  transition: all 0.5s;
}
