/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------- */
/* --- CSS RESET --- */
/* ----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* ----------------- */
/* - GLOBAL STYLES - */
/* ----------------- */
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box;
  padding-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* ----------------- */
/* - MAIN STYLES - */
/* ----------------- */

h1 {
  text-align: center;
}

form {
  text-align: center;
}

h1,
form {
  width: 100%;
}

.container {
  display: grid;
  margin: 5rem auto 0 auto;
  max-width: 70rem;
  height: 80vh;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.image-a {
  grid-area: 2 / 2 / 3 / 3;
}

.image-b {
  grid-area: 2 / 3 / 3 / 4;
}

.image-c {
  grid-area: 3 / 2 / 4 / 3;
}

.image-d {
  grid-area: 3 / 3 / 4 / 4;
}

.image-a-btn-y {
  grid-area: 2 / 1 / 3 / 2;
}

.image-a-btn-x {
  grid-area: 1 / 2 / 2 / 3;
}

.image-b-btn-y {
  grid-area: 2 / 4 / 3 / 5;
}

.image-b-btn-x {
  grid-area: 1 / 3 / 2 / 4;
}

.image-c-btn-y {
  grid-area: 3 / 1 / 4 / 2;
}

.image-c-btn-x {
  grid-area: 4 / 2 / 5 / 3;
}

.image-d-btn-y {
  grid-area: 3 / 4 / 4 / 5;
}

.image-d-btn-x {
  grid-area: 4 / 3 / 5 / 4;
}

.flipY {
  transform: rotate(90deg);
}

.image-b-btn-y,
.image-d-btn-y {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.image-a-btn-y,
.image-c-btn-y {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.image-c-btn-x,
.image-d-btn-x {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image-a-btn-x,
.image-b-btn-x {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 480px) {
  .container {
    margin: 0 auto;
  }
}
